@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Raleway:400,400i,700&display=swap&subset=latin-ext');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/*
  base font-size: 18px
  base line-height: 22px
  Major Third is our modular scale:
  https://www.modularscale.com/?18&px&1.25
*/

/* Base Styles */
html {
  font-family: "Open Sans";
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.2222222222em; /* 22px / 18px = 1.2222222222em */
}

h1,
h2,
h3 {
  font-family: "Raleway";
}


/* Responsive Media */

/* State Styles */
