@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Raleway:400,400i,700&display=swap&subset=latin-ext');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/*
  base font-size: 18px
  base line-height: 22px
  Major Third is our modular scale:
  https://www.modularscale.com/?18&px&1.25
*/

/* Base Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.2222222222em; /* 22px / 18px = 1.2222222222em */
  overflow-x: hidden;
  padding: 2em;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

header {
  background: #FEFEFF;
}
/* Navigation Styles */
.logo {
  width: 80%;
  margin-left: 1.5em;
}

.icon-menu3:before {
  content: "\e9bf";
}

.icon-menu3 {
  position: relative;
  margin-left: 5.9604444444em; /* 107.288px / 18px = 5.9604444444em */
  margin-top: -3.8147222222em; /* 68.665px / 18px = 3.8147222222em */
  font-size: 2.4413888889em; /* 43.945px / 18px = 2.4413888889em */
  color: #1CA0E3;
}

.active {
  display: block;
}

#navigation {
  display: none;
}

.nav a {
  display: block;
  background: #FEFEFF;
  border: 1px solid #1CA0E3;
  color: #1CA0E3;
  text-align: center;
  padding: 18px;
  margin-bottom: 6px;
  text-decoration: none;
  line-height: 0;
  outline: 0;
}

.nav a:hover,
.nav a:active,
.nav a:focus {
  background: #1CA0E3;
  color: #FEFEFF;
}

/* Responsive Media */


/* State Styles */
